{% extends 'base.html' %}

{% block title %}

{% endblock %}
{% block head %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
<br>
  <div class="container">
  <div class="row" style=" background:red">
<br>
    <a class="col-sm d-flex justify-content-center" href="{{url_for('absencemng')}}" style="height: 80px; text-decoration: none;border: white; 2px solid; background:white">
<br>
 		Add Record  
    </a>
    <a class="col-sm d-flex justify-content-center" href="{{url_for('upload2_file')}}" style="height: 80px;text-decoration: none;background:#E1E1E1; border: white 2px solid;">
 	<br>Upload File    
    </a>
    <a class="col-sm d-flex justify-content-center" href="{{url_for('absenceshow')}}" style="height: 80px;text-decoration: none;background:#E1E1E1; border: white 2px solid;">
 		<br>Edit Records     
    </a>
    <br>
        </a>
    <a class="col-sm d-flex justify-content-center" href="{{url_for('checkabsence')}}" style="height: 80px;text-decoration: none;background:#E1E1E1; border: white 2px solid;">
 		<br>Check Absence    
    </a>
    <br>
  </div>
</div>
<br>

<div class="card">
	<div class="card-body">
		Add new absence record<br>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				{{form.csrt_token }}
			
				{{form.studentid.label(class='form-control-label')}}{{form.studentid(class='form-control')}}
				{{form.gname.label(class='form-control-label')}}{{form.gname(class='form-control')}}
				{{form.surname.label(class='form-control-label')}}{{form.surname(class='form-control')}}
				{{form.date.label(class='form-control-label')}}{{form.date(class='form-control')}}
				{{form.unitcode.label(class='form-control-label')}}{{form.unitcode(class='form-control')}}
				{{form.classtype.label(class='form-control-label')}}{{form.classtype(class='form-control')}}
				{{form.reason.label(class='form-control-label')}}{{form.reason(class='form-control')}}
				{{form.note.label(class='form-control-label')}}{{form.note(class='form-control')}}
				<input type="submit" class="btn , btn-info" value="submit">
				<!-- <input type="submit" name="Login" value="ورود" class="btn , btn-info"> -->
			</form>
		<br>
		<br>
		</div>
	</div>
	<br>
		<br>


	


<br>
		<br>

		<br>
		<br>
{% endblock %}
