{% extends 'base.html' %}

{% block title %}
{% endblock %}
{% block head %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
<br>
  <div class="container">
  <div class="row" style=" background:red">
<br>
    <a class="col-sm d-flex justify-content-center" href="{{url_for('unitt')}}"style="height: 80px; text-decoration: none;border: white; 2px solid; background:white">
<br>
 		Add Unit   
    </a>

    <a class="col-sm d-flex justify-content-center" href="{{url_for('unitsshow')}}" style="height: 80px;text-decoration: none;background:#E1E1E1; border: white 2px solid;">
 		<br>Edit Unit   
    </a>
    <br>
  </div>
</div>
<br>
<div class="card">
	<div class="card-body">
		Add new UNIT<br>
			<form method="POST" action="">
				{{ form.hidden_tag() }}
				{{form.csrt_token }}
				{{form.unitcode.label(class='form-control-label')}} {{form.unitcode(class='form-control')}} 
				{{form.instructorname.label(class='form-control-label')}} {{form.instructorname(class='form-control')}} 
				{{form.instructoremail.label(class='form-control-label')}} {{form.instructoremail(class='form-control')}} 
				<input type="submit" class="btn , btn-info" value="submit">
				<!-- <input type="submit" name="Login" value="ورود" class="btn , btn-info"> -->
			</form>
		<br>
		<br>
		</div>
	</div>
	<br>
		<br>


		<br>

		<br>
		<br>
{% endblock %}
