{% extends 'base.html' %}

{% block title %}

{% endblock %}
{% block head %} 
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% endblock %}

{% block content %}
<br>
  <div class="container">
  <div class="row" style=" background:red">
<br>
    <a class="col-sm d-flex justify-content-center" href="{{url_for('unitt')}}"style="height: 80px; text-decoration: none;border: white 2px solid; background:#E1E1E1">
<br>
 		Add Unit   
    </a>

    <a class="col-sm d-flex justify-content-center" href="{{url_for('unitsshow')}}" style="height: 80px;text-decoration: none;background:white; border: white 2px solid;">
 		<br>Edit Unit   
    </a>
    <br>
  </div>
</div>
<br>
<div class="card">
  <div class="card-body">
{{current_user.username}} 
welcome
<br><br>
<!-- <p class="text-primary">تعداد دفعات بازی شما: {{total}}</p>
<p class="text-warning">کمترین امتیاز شما: {{minn}}</p>
<p class="text-danger">بیشترین امتیاز شما: {{maxx}}</p>
 -->


<table  class="table table-dark">
    <thead>
    	<tr>
		<td>unitcode</td>
		<td>instructorname</td>
		<td>delete unit</td>
		<td>view/edit unit</td>
		</tr>
	</thead>
{%for user in users%}
	<tr>
	<td>{{user.unitcode}}</td>
	<td>{{user.instructorname}}</td>
	<!-- <td>{{user.games}}</td> -->
	<td><a href="deleteunit/{{user.unitcode}}">delete</a>
	<td><a href="unitt/{{user.unitcode}}">view/edit</a>
	</td>
	</tr>
{%endfor%}
</table>

<br><br>









  </div><br><br>
</div><br><br>

{% endblock %}
